.p-top {
    padding-top: 100px;
}

.sub-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.right-our-service {
    padding-top: 50px;
}