#footer-car {
    padding-bottom: 100px;
  }
  #footer-car .row .footer-col {
    margin-bottom: 1.25rem;
  }
  
  #footer-car .footer-1 a {
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
    color: #212529;
    transition: 0.3s ease;
  }
  #footer-car .footer-1 a:hover {
    color: #0d28a6;
  }
  
  #footer-car .footer-2 .footer-nav {
    list-style-type: none;
  }
  #footer-car .footer-2 .footer-nav .footer-nav-item {
    margin-bottom: 16px;
  }
  #footer-car .footer-2 .footer-nav .footer-nav-item a {
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: none;
    color: #000000;
  }
  
  #footer-car .footer-3 .footer-sosmed {
    display: inline-block;
    margin: 0 8px;
    transition: 0.3s ease;
  }
  #footer-car .footer-3 .footer-sosmed:hover {
    opacity: 0.75;
  }
  #footer-car .footer-3 .footer-sosmed-first {
    margin-left: 0px !important;
  }