.cta-section {
  margin-top: 120px;
  padding: 75px 0px;
  background-color: #0d28a6;
  border-radius: 13px;
}

.cta-title {
  color: #fff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.cta-text {
  color: #fff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
