.card-banner {
    border-radius: 15px;
    background-color: #0D28A6;
}

.card-body {
    margin: 64px 0 64px 0;
}

.heading-style {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}